body{
    background-color: black;
}

div {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 10px 40px;
    width: 550px;
    height: 350px;
    color: white;
    font-size: 2em;
}

