@font-face {
    font-family: mmbnFont;
    src: url(Mega-Man-Battle-Network.ttf);
}

body{
    font-family: mmbnFont;
    background-color: black;
}

div#content{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

h1 {
    margin: 0px;
    padding: 0px;
    line-height: 40px;
    font-size: 1.5em;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0; 
}

.navBody {
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    background: #6666CC;
    border-radius: 10px;
}


.reset {
    padding: 20px 20px 20px;
    width: 310px;
    background: #6666CC;
    border-radius: 3px;
}

p.warning{
    color: red;
    position:relative;
    left: -40px;
    top:5px;
}
p.resetmsg{
    color: white;
    position:absolute;
    left: 820px;
    top:310px;
}
a.resetlink{
    position:absolute;
    left: 830px;
    top:350px;
}
p.submit {
    text-align: right;
}
p.submit1 {
    text-align: left;
}

p.submit2 {
    text-align: right;
}

.btn {
    position: relative;
    padding: 0 18px;
    height: 29px;
    font-size: 12px;
    font-weight: bold;
    color: #527881;
    text-shadow: 0 1px #e3f1f1;
    background: #cde5ef;
    border: 1px solid;
    border-color: #b4ccce #b3c0c8 #9eb9c2;
    border-radius: 16px;
}

.help {
    position: absolute;
    left:800px;
    top:560px;
    margin: 20px 0;
    font-size: 15px;
    color: white;
    text-align: center;
    a {
        color: #cce7fa;
        text-decoration: underline;
    }
}

input {
    font-size: 14px;
}

span.reduceBtn .funcBtn {
   height: 55px;
   font-size: 1.1em;
}

.funcBtn {
    width: 100%;
    height: 80px;
    padding: 0 0 0 0;
    margin: 0 auto;
    background: #DE6C17;
    background: -moz-linear-gradient(top, #FFEB1C 0%, #DE6C17 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFEB1C), color-stop(100%, #DE6C17));
    box-shadow: inset 0px 0px 6px #fff;
    -webkit-box-shadow: inset 0px 0px 6px #fff;
    border: 1px solid #5ea617;
    border-radius: 10px;
    font-family: mmbnFont, Helvetica, Sans-Serif;
    font-size: 1.4em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #EDF7FD;
    text-shadow: 0px 1px 2px #b4d1ad;
    -moz-transition: color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out;
}

.funcBtn:hover {
    color: #145675;
    -moz-transition: color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out;
}
